/**********************************************************
Project Name: Pacific Trails Resorts
Author: Jeremiah Gallagher
Version: 1.0
Last Changed: March 7, 2017
Primary Use: Screen, print, mobile.



Colors:
	White (text, background): #FFFFFF
	Gray (text): #666666
	Dark Blue (text): #000033
	Medium Blue (text): #3399CC
	Sky-Blue (background): #90C7E3

Typography:
	body: Verdana, Arial, sans-serif
	header: Georgia, serif
	h1: line-height- 200%, Verdana, Arial, sans-serif
	h2: Georgia, serif
	dt:Verdana, Arial, sans-serif
	footer:font-size .70em, font-style italic, text-align center

**********************************************************/


/********************  Entire Webpage ********************/

body {
		background-color: #FFFFFF;
		background-image: url(images/background.jpg);
		color: #666666   ;
		font-family: Verdana, Arial, sans-serif;
	 }

	 .clear {clear: both;}

	 header, nav, main, footer {display: block;}

/************************* Header ************************/

header {
		 background-color: #000033;
		 color: #FFFFFF;
		 line-height: 200%;
		 font-family: Georgia, serif;
	   }

/************************ Wrapper ************************/

#wrapper {
		   margin-left: auto;
		   margin-right: auto;
		   background-color: #90C7E3;
		   min-width: 700px;
		   max-width: 1024px;
		   box-shadow: 3px 3px 3px 3px #666666;
		   width: 80%;
		   }

/************************** Main *************************/

main {
		padding-left: 20px;
		padding-right: 20px;
		background-color: #FFFFFF;
		margin-left: 190px;
		padding-top: 1px;
		padding-bottom: 1px;
}

main img, main video, main embed {
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
}

main ul {
	list-style-position: inside;
}

#mobile{display:none;}

#desktop{display:inline;}

.displayImage{ display: none;}

.displayVideo{display: block;}


/************************** Nav **************************/

nav {
	 font-weight: bold;
	 padding: 5px;
	 float:left;
	 width:155px;
	 padding: 20px 5px 0px 20px;
	  }

nav a {
		text-decoration: none;
		text-align: center;
		display: block;
		padding: 5px;
		border: 2px outset #CCC;
		background-color: #000033;
		color: #FFF;
	}

nav a:visited{
		background-color: #90C7E3;
	}

nav a:hover{
		background-color: #39C;
		border: 2px inset #666;
	}

nav ul {
		list-style-type: none;
		margin: 0;
		padding-left: 0;
	}
/************************Headings ************************/

h1 { line-height: 200%;
	 background-image: url(images/sunset.jpg);
	 background-position:right;
	 background-repeat: no-repeat;
	 padding-left: 20px;
	 height: 72px;
	 margin-bottom: 0;
	}

h2 {color: #3399CC;
	font-family: Georgia, serif;}

h3 {
	color: #000033;
}

/************************* dt ****************************/

dt {
	color: #000033;
	font-weight: bold;
}

/********************* Resort Class **********************/

.resort { color: #000033;
		  font-size: 1.2em;}

/************************* Footer ************************/

footer { font-size: .70em;
		 font-style: italic;
		 text-align: center;
		 padding: 10px;
		 margin-left: 190px;
		 background-color: #FFFFFF;
		 }

/************************* Table *************************/

table{ margin: auto;
			 border-width: 1px;
		 	 border-color: #39C;
		 	 width: 90%;
		 	 border-collapse: collapse;
		 	 border-style: solid;}

th{ padding: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: #39C;}

td{ padding: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: #39C;
		text-align: center;}

tr:nth-child(even) {background: #F5FAFC;}

/******************* textLeft Class **********************/

.textLeft{text-align: left; }

/************************* Forms *************************/

label{ float:left;
			 display: block;
			 width: 10em;
			 padding-right: 1em;
			 text-align: right;}

input{ display: block;
			 margin-bottom: 1em;}

textarea{ display: block;
				  margin-bottom: 1em;}

#mySubmit{ margin-left: 10em;
					 display: inline;}

#myReset{ margin-left: 0.5em;
					display: inline;}



 /**************************************************************************
		                           Tablet Media Query
***************************************************************************/

 @media only screen and (max-width:1024px){

	 body{ margin: 0;
		 		 padding: 0;
	   		 background-image: none; }

	 #wrapper{ width: auto;
		 				 min-width: 0;
		 				 margin: 0;
		 				 box-shadow: none;}

	 h1{ margin: 0; }

	 nav{ float: none;
		 	  width: auto;
			  padding: 0.5em; }

	 nav li{ display: inline-block; }

	 nav a{ padding: 1em; }

	 main{ padding: 1em;
		 		 margin-left: 0;
		 		 font-size: 90%; }

	 footer{ margin-left: 0; }

	 #navBottom{ display: none; }

}

/**************************************************************************
                          Smartphone Media Query
**************************************************************************/

@media only screen and (max-width:768px){

	h1{ height: 100%;
			font-size: 1.5em;
			padding-left: 0.3em; }

	nav{ padding: 0;}

	footer{ margin-left: 0; }

	nav a{ display: block;
				 padding: 0.2em;
			 	 font-size: 1.3em;
			 	 border-bottom: 1px;
			 	 border-color: #300; }

	nav ul{ margin: 0;
					padding: 0; }

	nav li{ display: block;
					margin: 0;
					padding: 0;
					font-size: .85em; }

	main{padding-top: 0.1em;
		 	 padding-right: 0;
			 padding-bottom: 0.1em;
			 padding-left: 0.4em; }

	main image{ display: none;
							padding-right: 0; }

	main ul{ list-style-position: outside; }

	footer{ padding: 0; }

	label{ clear: both;
				 margin-left: 2em;
			 	 margin-top: 0.1em;
			 	 text-align: left;}

  input{ clear: both;
				 margin-left: 2em;
			 	 margin-top: 0.1em;
			 	 text-align: left;}

	textarea{ clear: both;
				 margin-left: 2em;
			 	 margin-top: 0.1em;
			 	 text-align: left;}

	#navBottom{ display:  none; }

	#mobile{ display: inline; }

	#desktop{ display: none; }

	#mySubmit{ margin-left: 2em;
						 display: block;}

	#myReset{ margin-left: 2em;
						display: block;}

}

/**************************************************************************
                          Print Media Query
**************************************************************************/

@media print{

	body{ background-image: none; }

	h1{ margin-top: 0;
			margin-bottom: 0; }

  nav{ display: none; }

	footer{ margin-left: 0; }

	main{ width: 90%;
	 			padding-left: 10px;
				padding-right: 10px;
				padding-top: 1px;
				padding-bottom: 1px;
				margin-left: 10px;
				margin-right: 10px; }

	a{ text-decoration: none;
		 color: #000; }

	main a{ text-decoration: none; }

	main a::after{ content: " (" attr(href) ") ";
								 font-size: .9em;
							 	 color: #000; }

	#wrapper{ background-color: #FFF;
						min-width: 0;
						width: 95%;
						box-shadow: none;
						border-style: solid;
						border-width: thin;
						border-color: #000; }

	#navBottom{ display: none; }

	footer{ margin: 0; }

	.newPage{ page-break-before: always;}

	.printHidden{ visibility: hidden;}

	.displayImage{ display: block;}

	.displayVideo{display: none;}

}
